* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 66px;
  color: #222;
  background: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 3px;
  color: #222;
  background: #af9a7d;
  padding: 0.4rem 0.9rem;
  border: 3px solid #af9a7d;
  transition: all 0.3s linear;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: #af9a7d;
}

.carousel {
  margin: auto !important;
  display: flex;
  justify-content: center;
}
